# Default, no global assignment to avoid spamming everyone
# But we can define experts per folder

# Server / Core
src/          @Yaya6mgt

# Configuration CI/CD
.github/      @enzogagg
Makefile      @enzogagg