.stack-work/
*~
stack.yaml.lock

#documentation
/documentation/.docusaurus
/documentation/node_modules
/documentation/build

# executable
glados

# LISP files
example/*

# *.scm
*.pdf

# Documentation
documentation/node_modules
