name: Module - Build & Test
on:
  workflow_call:
    inputs:
      executable_name: { required: true, type: string }

jobs:
  build_and_check:
    runs-on: ubuntu-latest
    container: epitechcontent/epitest-docker
    env:
      STACK_ROOT: /tmp/.stack
    steps:
      - uses: actions/checkout@v4
      - name: Check useless files
        run: find . -name "*.o" -o -name "*.hi" -o -name "*.a" -delete
      - name: Build
        run: make
      - name: Check Binary
        run: |
          for exe in ${{ inputs.executable_name }}; do
            if [ ! -f "./$exe" ]; then
              echo "Binary $exe not found"
              exit 1
            fi
          done
      - name: Check Clean
        run: |
          make clean
          make fclean
          for exe in ${{ inputs.executable_name }}; do
            if [ -f "./$exe" ]; then
              echo "Binary $exe still exists after fclean"
              exit 1
            fi
          done

  run_tests:
    needs: build_and_check
    runs-on: ubuntu-latest
    container: epitechcontent/epitest-docker
    env:
      STACK_ROOT: /tmp/.stack
    steps:
      - uses: actions/checkout@v4
      - name: Unit Tests
        run: stack test --coverage --allow-different-user
      - name: Functional Tests
        run: |
          make
          chmod +x scripts/functional_tests.sh
          ./scripts/functional_tests.sh